"*":
  "activate-power-mode":
    comboMode:
      enabled: false
    plugins:
      playAudio: true
      screenShake: true
  core:
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: []
  editor:
    invisibles: {}
  fonts:
    fontFamily: "Roboto Mono"
  "markdown-preview-plus":
    useGitHubStyle: true
  minimap:
    scrollAnimation: true
  "split-diff":
    ignoreWhitespace: true
  "tree-view":
    alwaysOpenExisting: true
  welcome:
    showOnStartup: false
  "xml-formatter":
    numberCharIndent: 4
